UCSD_USERNAME=<UCSD_USERNAME to connect to UCSD_PROTECTED>
UCSD_PASSWORD=<UCSD_PASSWORD to connect to UCSD_PROTECTED>
ESP_LOCATION=<Location of the ESP32 device>
WIFI_SSID=UCSD-PROTECTED
NON_ENTERPRISE_WIFI_PASSWORDD=<?Optional don't need it if you are connecting to UCSD PROTECTED since that uses username, password>
UCSD_PID=<Replace with your UCSD PID used to authenticate your requests>